<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head.ejs") %>

</head>
<body>
    <%- include("./partials/parent_nav.ejs") %>
    <div class="container bg-dark p-4 px-5">
        <%- include("./partials/course_buttons.ejs") %>
        <div class="container text-center bg-white p-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add TA</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add TA</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/">
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Roll No</label>
                                <input type="text" class="form-control " id="recipient-name">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="container ">
            <table class="table mb-4 ">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TA Name</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    <% TAList.forEach((t)=>{ %>
                        <tr>
                            <th scope="row"><%= t.roll_no %></th>
                            <td>t.name</td>
                            <td>
                                <button type="submit" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="<%=TA.name%>">Delete</button>
                            </td>
                        </tr>
                   <% }) %>
                </tbody>
            </table>
                <!-- delete MOdal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Course</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Delete Course</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a href="/#/<%=TA.name %>" class="btn btn-primary">Confirm</a>
                    </div>
                </div>
                </div>
            </div>
            <script>
                var exampleModal = document.getElementById('deleteModal')
                exampleModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget
                var recipient = button.getAttribute('data-bs-whatever')

                var modalTitle = exampleModal.querySelector('.modal-title')
                var modalBodyInput = exampleModal.querySelector('.modal-body input')

                modalTitle.textContent = 'New message to ' + recipient
                modalBodyInput.textContent = recipient + ' will be deleted permanently'
                })
            </script>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>